h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: yellow;
    justify-content:center;
    display: flex;
}
/* MENU*/
* {
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu {
  background-color: rgb(7, 1, 1);
  filter: brightness(0.7);
  height: 30px;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: yellow;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu ul li a:hover {
  transform: scale(1.05);
}
  

/*MENU*/

/*BUSCADOR*/

.buscador {
  display: flex; /* Para alinear horizontalmente */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 10px;
  justify-content:center;
  
}

#busqueda {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Ajusta el ancho según sea necesario */
  margin-right: 10px; /* Espacio entre el campo y el botón */
}

.buscador button {
  padding: 8px 16px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buscador button:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  #busqueda {
      width: 100%; /* El campo ocupa todo el ancho en pantallas pequeñas */
      margin-right: 0;
      margin-bottom: 10px; /* Espacio entre el campo y el botón */
  }
  .buscador{
      flex-direction: column;
      align-items: stretch;
  }
}

/*BUSCADOR*/

/*GALERIA*/
section {
  display: flex;
  width: 100%;
  height: 330px;
  align-items: center;
  justify-content: center;
}

section h3 {
  position: absolute;
  color: yellow;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mujer, .novedades, .hombre {
  width: 20%;
  height: 300px;
  filter: brightness(0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; 
  margin-bottom: 1rem;
  position: relative;
}

.mujer:hover, .novedades:hover, .hombre:hover {
  transform: scale(1.05); 
}

.mujer {
  background-image: url('https://images.unsplash.com/photo-1671639334426-e27d616492f7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDgxfFM0TUtMQXNCQjc0fHxlbnwwfHx8fHw%3D');
}

.novedades {
  background-image: url('https://images.unsplash.com/photo-1629426958003-35a5583b2977?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHJlbWVyYXN8ZW58MHx8MHx8fDA%3D');
}

.hombre {
  background-image: url('https://images.unsplash.com/photo-1738362542911-ab7bd2d18adb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D');
}

/*GALERIA*/

/*OFERTAS*/


.ofertas {
  text-align: center;
  padding: 120px 17px;
  background-color: #f9f9f9;
  
}

.ofertas h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.producto {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Para posicionar el top-label */
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  transition: transform 0.3s ease; 
}

.producto .info {
  margin-top: 15px;
  text-align: center;
}

.producto h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
}

.producto p {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

.top-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e0f2f7; /* Color de fondo claro */
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  

}

.producto img:hover {
    transform: scale(1.1); 
}



/*OFERTAS*/


/*CONTACTO*/

footer {
  background-color:black;
  color: yellow;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact {
  margin-bottom: 10px;
}

.redes img {
  width: 40px; /* Ajusta el tamaño de los iconos de redes sociales */
  height: auto;
  margin: 0 5px;
  background-color: yellow;
}

/*CONTACTO*/